:root {
	font-size: 16px;
	line-height: 1.33;
	font-family: 'Open Sans', sans-serif;

	--black0: #000;
	--black1: #111;
	--black2: #222;
	--black3: #333;

	--gray: #808080;

	--whitef: #fff;
	--whitee: #eee;
	--whited: #ddd;
	--whitec: #ccc;

	--blue: #2879dc;
	--red: #e02131;
}

// * {outline: 1px #808080 solid;}

.dark {
	--bg0: var(--black1);
	--bg1: var(--black2);
	--bg2: var(--black3);
	--text: var(--whited);
	--text-disabled: var(--gray);
	--accent: var(--blue);
}

.light {
	--bg0: var(--whitef);
	--bg1: var(--whited);
	--bg2: var(--whitec);
	--text: var(--black2);
	--text-disabled: var(--gray);
	--accent: var(--blue);
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0px;

	--bg0: var(--black1);
	--bg1: var(--black2);
	--bg2: var(--black3);
	--text: var(--whited);
	--text-disabled: var(--gray);
	--accent: var(--blue);

	color: var(--text);
}

.container {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-color: var(--red);
	z-index: 0;
}

.header {
	display: block;
	position: fixed;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.2rem;
	background-color: var(--bg0);
	border-bottom: 1px solid var(--bg2);
	z-index: 1;
}

.menu {
	display: block;	
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 3.2rem;
	height: 3.2rem;
	z-index: 1;
}

.menu_panel {
	display: none;
	position: fixed;
	box-sizing: border-box;
	padding: 0.5rem;
	z-index: 99;
	min-width: 16rem;
	max-width: 32rem;
	min-height: 3.2rem;
	max-height: calc(100% - 3.7rem);
	overflow: auto;
	left: 0.5rem;
	background-color: var(--bg0);
	border-radius: 0.5rem;
	border: 1px solid var(--bg2);
	box-shadow: 0 1rem 0.5rem -0.5rem #00000040;

	@media screen and (max-width: 48rem){
		left: 0.25rem;
		max-width: none;
		min-width: none;
		right: 0.25rem;
	}
}

.menu_panel.show {
	display: block;
	animation: animate_menu_panel_show 200ms forwards ease-in-out;
	@keyframes animate_menu_panel_show {
		0% {
			opacity: 0;
			top: 3.2rem + 0.25rem + 1rem;
		}
		100% {
			opacity: 1;
			top: 3.2rem + 0.25rem;
		}
	}
}

.hamburger {
	width: 3.2rem;
	height: 3.2rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.bar {
		width: 1.6rem;
		height: 0.25rem;
		background-color: var(--text);
		border-radius: 0.25rem;
		margin: 0.125rem;
		transition: transform 200ms, opacity 200ms;
	}
	z-index: 1;
}

.hamburger.x {
	.top {transform: translate(0, 0.5em) rotate(135deg);}
	.mid {transform: rotate(45deg);}
	.bot {transform: translate(0, 0.25em);opacity: 0;}
}

p.title {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 50%;
	left: 3.2rem + 0.5rem;
	transform: translate(0, -50%);
	z-index: 1;
}

.content {
	display: block;
	position: fixed;
	box-sizing: border-box;
	top: 3.2em;
	left: 0;
	width: 100%;
	bottom: 0;
	overflow: auto;
	background-color: var(--bg0);
	padding: 2rem;
	z-index: 1;
}