:root {
  --black: #111111;
  --black-contrast: #333333;
  --black-text-secondary: #888888;
  --black-text: #eeeeee;
  --white: #ffffff;
  --white-contrast: #aaaaaa;
  --white-text-secondary: #888888;
  --white-text: #222222;
  line-height: 1.2;
  font-size: 20px;
}

body {
  margin: 0px;
  padding: 0px;
  --bg: var(--black);
  --bgs: var(--black-contrast);
  --text: var(--black-text);
  --texts: var(--black-text-secondary);
  color: var(--text);
  font-family: 'Open Sans', monospace;
  background-color: var(--bg);
}

.theme-light {
  --bg: var(--white);
  --bgs: var(--white-contrast);
  --text: var(--white-text);
  --texts: var(--white-text-secondary);
}

.theme-dark {
  --bg: var(--black);
  --bgs: var(--black-contrast);
  --text: var(--black-text);
  --texts: var(--black-text-secondary);
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--bg);
}

.header {
  position: fixed;
  height: 3.2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--bgs);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: var(--bg);
}

.header .titlebar {
  height: 3.2em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header .titlebar p {
  margin: 1em 0.5em;
  font-family: 'Varela Round', monospace;
}

.header .menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.2em;
  width: 3.2em;
}

.header .menubar .hamburger {
  height: 3.2em;
  width: 3.2em;
}

.header .menubar .hamburger .bar {
  width: 1.2em;
  height: 0.2em;
  background-color: var(--text);
  border-radius: 0.1em;
}

.header .menubar .hamburger .top {
  margin: 1.1em 1.0em 0.2em 1.0em;
}

.header .menubar .hamburger .mid {
  margin: 0.2em 1.0em 0.2em 1.0em;
}

.header .menubar .hamburger .bot {
  margin: 0.2em 1.0em 1.1em 1.0em;
}

.footer {
  border-top: 1px solid var(--bgs);
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: var(--bg);
  padding: 1em;
}

.footer p {
  color: var(--texts);
  margin: 0px;
}

.content {
  padding-top: calc(3.2em + 1px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.theme-changer {
  font-family: 'Varela Round', monospace;
  color: var(--text);
  background-color: var(--bg);
  padding: 1em;
  border: 1px solid var(--bgs);
  outline: none;
}

.theme-changer:hover {
  -webkit-filter: brightness(166%);
          filter: brightness(166%);
}

.theme-changer:active {
  -webkit-filter: brightness(133%);
          filter: brightness(133%);
}

body.theme-light .theme-changer:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

body.theme-light .theme-changer:active {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}
