:root {
	font-size: 16px;
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;

	--black1: #111;
	--black2: #222;
	--black3: #333;

	--white1: #fff;
	--white2: #eee;
	--white3: #ddd;

}

// * {outline: 1px #808080 solid;}

.light {
	--bg: var(--white1);
	--bgs: var(--white3);
	--bgss: var(--white2);
	--text: var(--black1);
}

.dark {
	--bg: var(--black1);
	--bgs: var(--black3);
	--bgss: var(--black2);
	--text: var(--white3);
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0px;
	
	--bg: var(--black1);
	--bgs: var(--black3);
	--text: var(--white3);
	color: var(--text);
}

.container {
	display: block;
}

.left_panel {
	display: block;
	position: fixed;
	left: 0px;
	right: calc(100vw - 20rem);
	top: 0px;
	bottom: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 1px solid var(--bgs);
	background-color: var(--bg);
	padding: 1rem;
}

.right_panel {
	display: block;
	position: fixed;
	left: 20rem;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--bg);
	padding: 2rem;
}

.navbar {
	z-index: 2;
	display: none;
	position: fixed;
	height: 3.2rem;
	width: 100%;
	top: 0px;
	background-color: var(--bg);
	border-bottom: 1px solid var(--bgs);
	box-sizing: border-box;
}

@media screen and (max-width: 48rem) {
	.left_panel {
		top: 3.2em;
		padding: 4rem;
		right: 0px;
		left: 0px;
	}
	.right_panel {
		top: 3.2em;
		left: 0px;
	}
	.navbar {
		display: block;
	}
}

h1, h2, h3 {
	position: relative;
	padding: 0.5em 0px;
}

h1 {
	border-bottom: 1px solid var(--bgs);
}

table {
	position: relative;
	width: 100%;
	border-collapse: collapse;
	border-radius: 0.5rem;
	border-left: 1px solid var(--bgs);
	border-right: 1px solid var(--bgs);
	th, td {
		border-top: 1px solid var(--bgs);
		border-bottom: 1px solid var(--bgs);
		text-align: left;
		padding: 0.5em 1em 0.5em 0.5em;
		margin: 0px;
	}
	th {
		background-color: var(--bgss);
	}
}

.avatar {
	position: relative;
	img {
		position: relative;
		width: 4em;
		height: 4em;
		left: 50%;
		transform: translate(-50%);
		background-color: var(--bgss);
		border-radius: 50%;
		box-shadow: 0px 0px 1rem var(--bgss);
	}
	.nickname {
		position: relative;
		text-align: center;
		// max-width: 100%;
		width: fit-content;
		word-wrap: break-word;
		left: 50%;
		transform: translate(-50%);
	}
	border-bottom: 1px solid var(--bgs);
}

a {
	color: #1b82d6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.section {
	margin: 0px;
	// width: 100%;
	padding: 1em 0px;
	border-bottom: 1px solid var(--bgs);
}

.left_panel ul {
	margin: 0px;
	padding: 0px;
	ul {
		padding: 0em 1em;
		list-style-type: disc;
	}
	list-style-type: none;
	li {
		margin: 0.5em 0px;
	}
	
}

.hide_links {
	a {
		color: var(--text);
		text-decoration: none;
	}
}